body {
    margin: 40px;
}

#grooLogo {
    filter: invert(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.scroll-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, calc(25% - 15px));
    align-content: start;
    overflow-x: auto;
    grid-gap: 20px;
    /* width: 70%; */
    height: 70%;
    margin: auto;
}

.mat-card {
    max-width: 300px;
    margin: auto;
    direction: rtl;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
    box-sizing: border-box;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card-actions {
    display: flex;
    direction: ltr;
}

.mat-card-actions .flex-spacer {
    width: 100%;
}

mat-stroked-button {
    width: 20%;
    height: 20%;
}

mat-card-subtitle {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    resize: horizontal;
}


/******Mobile View*********/


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #grooLogo {
        width: 40%;
    }
    .scroll-container {
        /*height: unset;*/
        height: 59%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, calc(11% - -170px));
        /*grid-template-rows: minmax(150px, 1fr);*/
    }
    .mat-card {
        /*width: 170px;*/
        max-width: 74vw;
        box-sizing: border-box;
        height: -webkit-fill-available;
    }
    .mat-card-header {
        margin: 0px -65px;
    }
    .mat-card-header .mat-card-title {
        font-size: 15px;
    }
}